/* MAIN RULES */

body {
  font-size: 16px;
  font-family: "Trip Sans Reg";
}

.container {
  width: 1100px;
  margin: 0 auto;
}

h1 {
  font-size: 54px;
  line-height: 64px;
  font-family: "Trip Sans Med";
  font-weight: bold;
}

h3 {
  font-family: "Trip sans Med";
  font-weight: bold;
  margin-top: 20px;
  font-size: 28px;
  line-height: 33px;
}

h5 {
  font-size: 24px;
  line-height: 29px;
  font-weight: bold;
}

h6 {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  margin: 5px 0;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 20px;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
}

a {
  color: black;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
}

/* HEADER */

header {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 200px;
}

header nav {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-link {
  font-weight: bold;
  line-height: 20px;
  color: black;
}

.nav-button {
  font-family: "Trip Sans Reg";
  font-size: 16px;
  background-color: black;
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
}

/* -----------------------------------  */

/* MAIN */

/* nav-main */

main {
  padding-top: 30px;
}

h1 span {
  color: #fe5d5d;
}

main nav {
  margin-top: 20px;
  width: 100%;
  display: flex;
}

.main-nav1 {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
}

.main-nav {
  box-sizing: border-box;
  width: calc(100% / 6);
  padding: 10px 25px;
  border: black 1px solid;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav-hidden {
  display: none;
}

.main-nav a {
  font-family: "Trip sans Reg";
  line-height: 20px;
  color: black;
}
.main-nav a span {
  font-size: 16px;
  line-height: 20px;
  color: black;
  font-weight: bold;
}

/* main-images */

.main-image {
  width: 100%;
  height: 450px;
  margin-top: 30px;
  display: flex;
  gap: 3px;
}

.one {
  width: 60%;
}

.two {
  width: 40%;
}
.one img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.two img {
  height: calc(50% - 1.5px);
  width: 100%;
  object-fit: cover;
  object-position: center;
}
/* main-nav2 */

.underPicture {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.underPicture span {
  margin-top: 10px;
  font-size: 12px;
}

.main-nav2 {
  width: 40%;
}

.main-nav2 a {
  font-size: 12px;
  padding-right: 10px;
}

.main-nav2 a:hover {
  text-decoration-line: underline;
}

/* MAIN H3 P */

/* section les immanquables  */

#immanquables {
  margin-top: 50px;
}

.carrousselle-wrapper {
  margin-top: 20px;
  width: 100%;
  height: 300px;
  display: flex;
}

.carousselle-text {
  width: 27%;
  height: 100%;
}

.carousselle-text a {
  text-decoration: underline;
}

.carousselle-text p {
  margin-bottom: 20px;
}

.carousselle {
  width: 73%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-x: scroll;
  gap: 10px;
}

.places {
  width: calc(97% / 3);
  height: 100%;
  flex-shrink: 0;
}

.places-picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.places-picture {
  position: relative;
}

.coeur {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  right: 5px;
  top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.places-text span {
  font-size: 14px;
  line-height: 17px;
  color: #333333;
}

/* Section repos  */

#repos {
  margin-top: 80px;
}

.places-text i {
  margin-right: 1px;
  color: green;
}

/*  Footer */

footer {
  background-color: #faf1ed;
  height: 156px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  padding-bottom: 20px;
  margin-left: 30px;
}

footer img {
  width: 70px;
}

/* MEDIA QUERIES */

@media (max-width: 1184px) {
  .container {
    width: 95vw;
  }

  .main-nav1 {
    flex-wrap: wrap;
    gap: 2px;
  }

  .main-nav {
    /* flex-shrink: 0; */
    width: calc(98% / 4);
  }

  .main-nav-hidden {
    display: inherit;
  }

  .one {
    width: 65%;
  }

  .two {
    width: 35%;
  }
}

/* @media (max-width: 1024px) {
  .nav-link i {
    display: none;
  }
} */
