/* MAIN RULES */

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Trip Sans Reg";
}

.container {
  width: 1100px;
  margin: 0 auto;
}

h1 {
  font-size: 54px;
  line-height: 64px;
  font-family: "Trip Sans Med";
  font-weight: bold;
}

h3 {
  font-family: "Trip sans Med";
  font-weight: bold;
  margin-top: 20px;
  font-size: 28px;
  line-height: 33px;
}

h5 {
  font-size: 24px;
  line-height: 29px;
  font-weight: bold;
}

h6 {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  margin: 5px 0;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 20px;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
}

a {
  color: black;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
}

/* HEADER */

header {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.balise-hidden {
  display: none;
}

header img {
  width: 200px;
}

header nav {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.nav-link {
  font-weight: bold;
  padding: 10px 0;
  color: black;
  font-size: 16px;
}

.nav-button {
  font-family: "Trip Sans Reg";
  font-size: 16px;
  background-color: black;
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
}

/* -----------------------------------  */

/* MAIN */

/* nav-main */

main {
  padding-top: 30px;
}

h1 span {
  color: #fe5d5d;
}

.main-nav1 {
  margin-top: 20px;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
}

.main-nav {
  box-sizing: border-box;
  width: calc(100% / 6);
  padding: 15px 15px;
  border: black 1px solid;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav-hidden {
  display: none;
}

.main-nav a {
  font-family: "Trip sans Reg";
  line-height: 20px;
  color: black;
}
.main-nav a span {
  font-size: 16px;
  line-height: 20px;
  color: black;
  font-weight: bold;
}

/* main-images */

.main-image {
  width: 100%;
  height: 450px;
  margin-top: 30px;
  display: flex;
  gap: 3px;
}

.one {
  width: 60%;
}

.two {
  width: 40%;
}
.one img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.two img {
  height: calc(50% - 1.5px);
  width: 100%;
  object-fit: cover;
  object-position: center;
}
/* main-nav2 */

.underPicture {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.underPicture span {
  margin-top: 10px;
  font-size: 12px;
}

.main-nav2 {
  width: 40%;
}

.main-nav2 a {
  font-size: 12px;
  padding-right: 10px;
}

.main-nav2 a:hover {
  text-decoration-line: underline;
}

/* MAIN H3 P */

.div-p {
  width: 50%;
}

.div-p p {
  text-align: justify;
}

/* section les immanquables  */

#immanquables {
  margin-top: 50px;
}

.carrousselle-wrapper {
  margin-top: 20px;
  width: 100%;
  display: flex;
}

.carousselle-text {
  width: 27%;
  height: 100%;
}

.carousselle-text a {
  text-decoration: underline;
}

.carousselle-text p {
  margin-bottom: 20px;
}

.carousselle {
  width: 73%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-x: scroll;
  gap: 10px;
}

.places {
  width: calc(97% / 3);
  height: 100%;
  flex-shrink: 0;
}

.places-picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.places-picture {
  position: relative;
}

.coeur {
  width: 12.82%;
  height: 17.53%;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  right: 5px;
  top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.places-text span {
  font-size: 14px;
  line-height: 17px;
  color: #333333;
}

/* Section repos  */

#repos {
  margin-top: 80px;
}

.places-text i {
  margin-right: 1px;
  color: green;
}

/*  Footer */

footer {
  background-color: #faf1ed;
  height: 156px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  padding-bottom: 20px;
  margin-left: 30px;
}

footer img {
  width: 70px;
}

/* FORM */

#modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#contact {
  color: black;
  position: relative;
  background-color: white;
  border-radius: 20px;
  border: 2px solid;
  width: 30vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#contact i {
  font-size: 25px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
}

#contact h2 {
  padding-top: 60px;
  font-size: 2vw;
  padding-bottom: 30px;
}

#contact input {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  text-decoration: none;
  border-radius: 10px;
  width: 50%;
  height: 5%;
  text-align: center;
  border: black 1px solid;
}

#contact textarea {
  border: black 1px solid;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  text-decoration: none;
  border-radius: 10px;
  width: 60%;
  height: 30%%;
  text-align: center;
}

#contact button {
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  width: 30%;
  height: 7%;
  text-align: center;
  cursor: pointer;
}

.hidden-form {
  display: flex !important;
}

/* MEDIA QUERIES */

@media (max-width: 1184px) {
  .container {
    width: 95%;
  }

  .main-nav1 {
    flex-wrap: wrap;
    gap: 10px 10px;
  }

  .main-nav {
    width: calc((100% - 40px) / 4);
  }

  .main-nav-hidden {
    display: inherit;
  }

  .one {
    width: 65%;
  }

  .two {
    width: 35%;
  }
}

@media (max-width: 1024px) {
  .aspan {
    display: none;
  }

  .div-p {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .main-image {
    height: 35vh;
  }

  header img {
    width: 150px;
  }
  header nav {
    display: none;
  }

  .balise-hidden {
    display: inherit;
  }

  .main-nav1 {
    width: 100%;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 10px;
    overflow: hidden;
    overflow-x: scroll;
  }

  .main-nav {
    width: calc((100% - 20px) / 2);
    padding: 0 100px 0 10px;
    justify-content: space-between;
  }

  .main-nav i {
    display: none;
  }

  .one {
    width: 100%;
  }

  .two {
    display: none;
  }

  .carrousselle-wrapper {
    flex-direction: column;
  }

  .carousselle-text {
    width: 100%;
    margin-bottom: 20px;
  }

  .carousselle {
    width: 100%;
  }

  .underPicture {
    display: none;
  }

  #contact {
    width: 80vw;
    height: 90vh;
  }
}
